<html>
  <body>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= hidden_field_tag 'gossip[user_id]', @gossip.user_id = 12 %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'gossip[title]', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'gossip[content]', @gossip.content %>
      <br /> <br />

      <%= submit_tag "Create Gossip" %>

    <% end %>

  </body>
</html>