<h1><%= User.find(params[:id]).first_name %> <%= User.find(params[:id]).last_name %></h1>
<p>Description: <%= User.find(params[:id]).description %></p>
<p>Email: <%= User.find(params[:id]).email %></p>
<p>Age: <%= User.find(params[:id]).age %></p>
<p>City: <%= City.find_by(id: User.find(params[:id]).city_id).name %></p>
